@*
    AdminSidebarPartial
*@

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Xacton
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Kontrol Paneli</span></a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-copy"></i><span>Sayfalar</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-invoice.html">Fatura</a></li>
                        <li><a href="pages-starter.html">Başlangıç Sayfası</a></li>
                        <li><a href="pages-maintenance.html">Bakım</a></li>
                        <li><a href="pages-faqs.html">SSS</a></li>
                        <li><a href="pages-pricing.html">Fiyatlandırma</a></li>
                        <li><a href="pages-login.html">Giriş Yap</a></li>
                        <li><a href="pages-register.html">Kayıt Ol</a></li>
                        <li><a href="pages-recoverpw.html">Şifre Kurtarma</a></li>
                        <li><a href="pages-lock-screen.html">Ekranı Kilitle</a></li>
                        <li><a href="pages-404.html">Hata 404</a></li>
                        <li><a href="pages-500.html">Hata 500</a></li>
                    </ul>
                </li>

                <li><a href="calendar.html" class=" waves-effect"><i class="feather-calendar"></i><span>Takvim</span></a></li>

                <li class="menu-title">Bileşenler</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-briefcase"></i><span>UI Elemanları</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-buttons.html">Butonlar</a></li>
                        <li><a href="ui-cards.html">Kartlar</a></li>
                        <li><a href="ui-carousel.html">Slayt Gösterisi</a></li>
                        <li><a href="ui-embeds.html">Gömülü İçerikler</a></li>
                        <li><a href="ui-general.html">Genel</a></li>
                        <li><a href="ui-grid.html">Izgara</a></li>
                        <li><a href="ui-media-objects.html">Medya Nesneleri</a></li>
                        <li><a href="ui-modals.html">Açılır Pencereler</a></li>
                        <li><a href="ui-progressbars.html">İlerleme Çubukları</a></li>
                        <li><a href="ui-tabs.html">Sekmeler</a></li>
                        <li><a href="ui-typography.html">Tipografi</a></li>
                        <li><a href="ui-toasts.html">Bildirimler</a></li>
                        <li><a href="ui-tooltips-popovers.html">İpuçları & Açılırlar</a></li>
                        <li><a href="ui-scrollspy.html">Kaydırma Takibi</a></li>
                        <li><a href="ui-spinners.html">Yükleme Göstergeleri</a></li>
                        <li><a href="ui-sweetalerts.html">Sweet Uyarılar</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-list"></i><span>Tablolar</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic.html">Temel Tablolar</a></li>
                        <li><a href="tables-datatables.html">Veri Tabloları</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-bar-chart-2"></i><span>Grafikler</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-morris.html">Morris</a></li>
                        <li><a href="charts-google.html">Google</a></li>
                        <li><a href="charts-chartjs.html">Chartjs</a></li>
                        <li><a href="charts-sparkline.html">Sparkline</a></li>
                        <li><a href="charts-knob.html">Jquery Knob</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect"><i class="feather-book"></i><span class="badge badge-pill badge-danger float-right">6</span><span>Formlar</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="forms-elements.html">Form Elemanları</a></li>
                        <li><a href="forms-plugins.html">Eklentiler</a></li>
                        <li><a href="forms-validation.html">Doğrulama</a></li>
                        <li><a href="forms-mask.html">Maskeleme</a></li>
                        <li><a href="forms-quilljs.html">Quilljs</a></li>
                        <li><a href="forms-uploads.html">Dosya Yükleme</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-box"></i><span>İkonlar</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-materialdesign.html">Material Tasarım</a></li>
                        <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                        <li><a href="icons-dripicons.html">Dripicons</a></li>
                        <li><a href="icons-feather.html">Feather İkonlar</a></li>
                    </ul>
                </li>

                <li class="menu-title">Diğer</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-map"></i><span>Haritalar</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google.html">Google Haritalar</a></li>
                        <li><a href="maps-vector.html">Vektör Haritalar</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="mdi mdi-share-variant"></i><span>Çoklu Seviye</span></a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);">Seviye 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Seviye 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);">Seviye 2.1</a></li>
                                <li><a href="javascript: void(0);">Seviye 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
