@using CarBook_OnionArch.Dto.CategoriesDtos
@model List<ResultCategoryDto>

@*
    BlogCategoriesComponentPartial
*@

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        <ul>
            @foreach (var item in Model)
            {
                var count = (item.id * 3) + 5;
                <li>
                    <a href="#">@item.name <span>(@count)</span></a>
                </li>
            }
        </ul>
    </div>
</div>
