@model CarBook_OnionArch.Dto.FeaturesDtos.CreateFeatureDto

@{
    ViewData["Title"] = "Yeni Özellik Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";
}

<h1>Yeni Özellik Oluştur</h1>

<form asp-action="Create" asp-controller="AdminFeature" asp-area="Admin" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label">Özellik Adı</label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Oluştur</button>
    <a asp-action="Index" asp-controller="AdminFeature" asp-area="Admin" class="btn btn-secondary">İptal</a>
</form>