@*
    _FooterUILayoutComponentPartial
*@

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <!-- Şirket Tanıtımı -->
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        <a href="#" class="logo">Car<span>book</span></a>
                    </h2>
                    <p>Carbook, Türkiye genelinde kaliteli ve güvenilir araç kiralama hizmeti sunar. Geniş araç filomuz ve uygun fiyat seçeneklerimizle her zaman yanınızdayız.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Bilgilendirme -->
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Bilgilendirme</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Hakkımızda</a></li>
                        <li><a href="#" class="py-2 d-block">Hizmetlerimiz</a></li>
                        <li><a href="#" class="py-2 d-block">Kiralama Koşulları</a></li>
                        <li><a href="#" class="py-2 d-block">Fiyat Garantisi</a></li>
                        <li><a href="#" class="py-2 d-block">Gizlilik Politikası</a></li>
                    </ul>
                </div>
            </div>

            <!-- Müşteri Desteği -->
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Sıkça Sorulan Sorular</a></li>
                        <li><a href="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
                        <li><a href="#" class="py-2 d-block">Kiralama Rehberi</a></li>
                        <li><a href="#" class="py-2 d-block">Nasıl Kiralanır?</a></li>
                        <li><a href="#" class="py-2 d-block">İletişime Geçin</a></li>
                    </ul>
                </div>
            </div>

            <!-- İletişim Bilgileri -->
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bize Ulaşın</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">İstanbul, Türkiye</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+90 212 123 45 67</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">destek@carbook.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>