@using CarBook_OnionArch.Dto.CarDtos
@model CreateCarDto

@{
    ViewData["Title"] = "Araba Oluştur";
    ViewData["SubTitle"] = "Araba Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <!-- Sol Sütun -->
        <div class="col-lg-6">
            <label>Marka</label>
            <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control">
                <option selected disabled>Marka Seçiniz</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
            <br />

            <label>Araba Modeli</label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
            <br />

            <label>Vites Türü</label>
            <select asp-for="Transmission" asp-items="@ViewBag.Transmissions" class="form-control">
                <option selected disabled>Vites Türü Seçiniz</option>
            </select>
            <span asp-validation-for="Transmission" class="text-danger"></span>
            <br />

            <label>Yakıt Türü</label>
            <select asp-for="Fuel" asp-items="@ViewBag.Fuels" class="form-control">
                <option selected disabled>Yakıt Türü Seçiniz</option>
            </select>
            <span asp-validation-for="Fuel" class="text-danger"></span>
            <br />

        </div>

        <!-- Sağ Sütun -->
        <div class="col-lg-6">
            <label>Kilometre</label>
            <input asp-for="Mileage" type="number" class="form-control" />
            <span asp-validation-for="Mileage" class="text-danger"></span>
            <br />

            <label>Koltuk Sayısı</label>
            <input asp-for="Seat" type="number" class="form-control" />
            <span asp-validation-for="Seat" class="text-danger"></span>
            <br />

            <label>Bagaj Kapasitesi</label>
            <input asp-for="Luggage" type="number" class="form-control" />
            <span asp-validation-for="Luggage" class="text-danger"></span>
            <br />

            <label>Görsel</label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            <br />
        </div>

        <!-- Kaydet Butonu -->
        <div class="col-lg-12 text-center mt-4">
            <button type="submit" class="btn btn-outline-dark">Kaydet</button>
        </div>
    </div>
</form>
