@using CarBook_OnionArch.Dto.CarDtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultCarWithRelationsDto>

@{
    ViewData["Title"] = "Araba Listesi";
    ViewData["SubTitle"] = "Admin Araba Yönetimi Sayfası";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";
    int count = 0;
}

<style>
    a, button {
        color: #fff !important;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center" style="font-size: 2.5rem; color:chocolate">@ViewData["Title"]</h1>
                @*                 <p class="card-subtitle mb-4">
                    <h4 class="card-title">@ViewData["SubTitle"]</h4>
                </p> *@
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Vites</th>
                                <th>Yakıt</th>
                                <th>Kilometre</th>
                                <th>Görsel</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item?.brand!.name</td>
                                    <td>@item?.model</td>
                                    <td>@item?.transmission</td>
                                    <td>@item?.fuel</td>
                                    <td>@item?.mileage</td>
                                    <td>
                                        <img src="@item?.coverImageUrl" alt="@item?.model" style="width: 100px; height: auto;" />
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" asp-area="Admin" asp-controller="AdminCar" asp-action="Update" asp-route-id="@item?.id">Düzenle</a>
                                        <a class="btn btn-danger"
                                           asp-area="Admin"
                                           asp-controller="AdminCar"
                                           asp-action="Delete"
                                           asp-route-id="@item?.id"
                                           onclick="return confirm('Bu veriyi silmek istediğinizden emin misiniz?');">Sil</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a class="btn btn-success mt-3" asp-area="Admin" asp-controller="AdminCar" asp-action="Create">Yeni Araba Ekle</a>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>

@* Paged List Pagination *@
<div class="d-flex justify-content-center">
    @Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page }), // Controller'daki action ismine göre güncelle
        new X.PagedList.Mvc.Core.PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            DisplayLinkToFirstPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToLastPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always,
            DisplayLinkToNextPage = X.PagedList.Mvc.Core.PagedListDisplayMode.Always
        }
        )
</div>
