@model CarBook_OnionArch.Dto.BlogDtos.CreateBlogDto

@{
    ViewData["Title"] = "Yeni Blog Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";
}

<h1>Yeni Blog Oluştur</h1>

<form asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="title" class="control-label">Başlık</label>
        <input asp-for="title" class="form-control" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Kategori</label>
        <select asp-for="categoryId" asp-items="@ViewBag.Categories" class="form-select">
            <option selected disabled>Kategori Seçiniz</option>
        </select>
        <span asp-validation-for="categoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Yazar</label>
        <select asp-for="authorId" asp-items="@ViewBag.Authors" class="form-select">
            <option selected disabled>Yazar Seçiniz</option>
        </select>
        <span asp-validation-for="authorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="content" class="control-label">İçerik</label>
        <textarea rows="10" cols="30" asp-for="content" class="form-control"></textarea>
        <span asp-validation-for="content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Görsel</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Oluştur</button>
    <a asp-action="Index" asp-controller="AdminBlog" asp-area="Admin" class="btn btn-secondary">İptal</a>
</form>