@using CarBook_OnionArch.Dto.CommentDtos
@model CreateCommentDto

@*
    CreateCommentComponentPartial
*@


<div id="CreateComment" class="comment-form-wrap pt-5">
    <h3 class="mb-5">Yorum Yap</h3>
    <form asp-controller="Blog" asp-action="CreateComment" class="p-5 bg-light" method="post">

        <input type="hidden" asp-for="BlogId" value="@Model.BlogId" />

        <div class="form-group">
            <label asp-for="AuthorId">Kullanıcı Numaranız</label>
            <input type="number" class="form-control" asp-for="AuthorId">
        </div>

        <div class="form-group">
            <label for="message">Mesajınız</label>
            <textarea asp-for="Content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorum Yap" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>
