@model CarBook_OnionArch.Dto.AboutDtos.CreateAboutDto

@{
    ViewData["Title"] = "Yeni Hakkımızda Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdmLayout.cshtml";
}

<h1>Yeni Hakkımızda Oluştur</h1>

<form asp-action="Create" asp-controller="AdminAbout" asp-area="Admin" method="post">
    <div class="form-group">
        <label asp-for="title" class="control-label">Başlık</label>
        <input asp-for="title" class="form-control" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label">Açıklama</label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="imageUrl" class="control-label">Görsel URL</label>
        <input asp-for="imageUrl" class="form-control" />
        <span asp-validation-for="imageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Oluştur</button>
    <a asp-action="Index" asp-controller="AdminAbout" asp-area="Admin" class="btn btn-secondary">İptal</a>
</form>