@*
    RentalFilterComponentPartial
*@

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="#" class="request-form ftco-animate bg-primary">
                            <h2>Seyahatinizi Planlayın</h2>

                            <div class="form-group">
                                <label class="label">Alış Lokasyonu</label>
                                <input type="text" class="form-control" placeholder="Şehir, Havalimanı, Merkez vb.">
                            </div>

                            <div class="form-group">
                                <label class="label">Teslim Lokasyonu</label>
                                <input type="text" class="form-control" placeholder="Şehir, Havalimanı, Merkez vb.">
                            </div>

                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label class="label">Alış Tarihi</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Tarih">
                                </div>
                                <div class="form-group ml-2">
                                    <label class="label">Teslim Tarihi</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Tarih">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Alış Saati</label>
                                <input type="text" class="form-control" id="time_pick" placeholder="Saat">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Hemen Araç Kirala" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>

                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Mükemmel Aracınızı Kiralamanın En Kolay Yolu</h3>

                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-route"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Alış Noktanızı Seçin</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-handshake"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">En Uygun Teklifi Belirleyin</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-rent"></span>
                                        </div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Araç Rezervasyonunuzu Yapın</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <a href="#" class="btn btn-primary py-3 px-4">Mükemmel Aracını Şimdi Rezerve Et</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- row -->
            </div>
        </div>
    </div>
</section>
